/**
 * Responsive.css
 */

@media screen and (max-width: 575px) {
	.navbar-side.fixed-top {
		align-items: flex-start;
		padding: 0;
		width: 95px;
	}

	.navbar-side.fixed-top img {
		width: 130px;
	}

	.navbar-side.fixed-top .icon {
		width: 30px;
		height: 30px;
		font-size: 15pt;
	}

	.wrapper-content {
		padding-left: 120px;
	}

	/* Finalize Checkout Section */
	
	.finalize-checkout-section .row.border {
		flex-direction: column-reverse
	}
	
	.finalize-checkout-section .line.horizontal {
		width: 0;
		height: 70px;
	}

	.finalize-checkout-section .line.vertical.left {
		left: 50%;
	}

	.finalize-checkout-section .line.horizontal.left {
		left: 50%;
	}

	/* FAQ section */

	.faq-section .row {
		flex-direction: column-reverse;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
	.navbar-side.fixed-top {
		align-items: flex-start;
		padding: 0;
		width: 95px;
	}

	.navbar-side.fixed-top img {
		width: 130px;
	}

	.navbar-side.fixed-top .icon {
		width: 45px;
		height: 45px;
	}

	.wrapper-content {
		padding-left: 120px;
	}

	/* Finalize Checkout Section */
	
	.finalize-checkout-section .row.border {
		flex-direction: column-reverse
	}
	
	.finalize-checkout-section .line.horizontal {
		width: 0;
		height: 70px;
	}

	.finalize-checkout-section .line.vertical.left {
		left: 50%;
	}

	.finalize-checkout-section .line.horizontal.left {
		left: 50%;
	}

	/* FAQ section */

	.faq-section .row {
		flex-direction: column-reverse
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {

	/* Finalize Checkout Section */
	
	.finalize-checkout-section .row.border {
		flex-direction: column-reverse
	}

	.finalize-checkout-section .line.horizontal {
		width: 0;
		height: 70px;
	}

	.finalize-checkout-section .line.vertical.left {
		left: 50%;
	}

	.finalize-checkout-section .line.horizontal.left {
		left: 50%;
	}

	/* FAQ section */

	.faq-section .row {
		flex-direction: column-reverse
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {}
@media screen and (min-width: 1200px) {}