/**
 * Responsive.css
 */

@media screen and (max-width: 575px) {
	.navbar-side.fixed-top {
		align-items: flex-start;
		padding: 0;
		width: 95px;
	}

	.navbar-side.fixed-top img {
		width: 130px;
	}

	.navbar-side.fixed-top .icon {
		width: 30px;
		height: 30px;
		font-size: 15pt;
	}

	.wrapper-content {
		padding-left: 120px;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px) {
	.navbar-side.fixed-top {
		align-items: flex-start;
		padding: 0;
		width: 95px;
	}

	.navbar-side.fixed-top img {
		width: 130px;
	}

	.navbar-side.fixed-top .icon {
		width: 45px;
		height: 45px;
		font-size: 25pt;
	}

	.wrapper-content {
		padding-left: 120px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {}
@media screen and (min-width: 992px) and (max-width: 1199px) {}
@media screen and (min-width: 1200px) {}