:root {
	--pink-theme: #FF66C4
}

@font-face {
	font-family: 'Sniglet';
	src: url("../fonts/Sniglet-ExtraBold.ttf");
	src: url("../fonts/Sniglet-Regular.ttf");
};

* {
	font-family: 'Sniglet' !important;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 13pt;
	font-family: 'Sniglet' !important;
}

img {object-fit: contain;}

a {
	color: var(--pink-theme);
}

a:hover {
	color: var(--pink-theme);
	text-decoration: none;
}

.btn {
	border-top: 1px solid rgba(0, 0, 0, .3);
	border-right: 1px solid rgba(0, 0, 0, 1);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	border-left: 1px solid rgba(0, 0, 0, 1);
	border-radius: 10px;
	padding: 3px 40px;
	background-color: white;
}

.btn:hover {
	color: white !important;
}

.btn.btn-success {
	color: #28a745;
}

.btn.btn-danger {
	color: #dc3545;
}

.btn.btn-warning {
	color: #ffc107;
}

.btn.btn-primary {
	color: #007bff;
}

/** HEADER */

/* Top Menu */

.navbar {
	background-color: white;
}

.navbar-top.fixed-top {
	min-height: 100px;
}

/* Side Menu */

.navbar-side.fixed-top {
	width: 300px;
	height: 100%;
}

.navbar-side.fixed-top .icon {
	width: 50px;
	height: 50px;
}

/** WRAPPER CONTENT */

.wrapper-content {
	position: static;
	padding-left: 325px;
	padding-top: 125px;
	padding-right: 50px;
	padding-bottom: 100px; 
}

/** Slide Section */

.carousel {
	width: 90%
}

.carousel .text-danger {
	color: var(--pink-theme) !important;
	border-bottom: 2px solid;
	padding: 0 10px;
}

.carousel-inner {
	width: 100%
}

.slide-images img {
	width: 100%;
}

.slide-images.active {
	display: flex;
	flex-wrap: wrap;
}

.slide-images .form-check {
	position: relative;
}

.slide-images .form-check-input + span {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: white;
	border: 2px solid #00a79d;
	border-radius: 5px;
	width: 35px;
	height: 35px;
	z-index: 2;
}

.slide-images .form-check-input:checked + span {
	background-color: #00a79d;
}

.carousel-control-prev {
	width: 50px;
	left: -50px;
}

.carousel-control-next {
	width: 50px;
	right: -50px;
}

.btn-slide-done {
	bottom: 20px;
	width: 100%;
	text-align: center
}

/* Checkout Section */

.checkout-section form {
	margin-top: 150px;
	padding: 40px 0;
}

/* Calendar Section */

.calendar-section {
	margin-top: 50px;
	padding-bottom: 40px;
}

.calendar-section .text-danger {
	color: var(--pink-theme) !important;
	border-bottom: 2px solid;
	padding: 0 10px;
}

/* Finalize Checkout Section */

.finalize-checkout-section form {
	padding: 40px 20px;
}

.finalize-checkout-section .form-control {
	z-index: 10 !important;
}

.finalize-checkout-section .line {
	content: '';
	position: absolute;
	border: 1px solid rgba(0, 0, 0, .3);
	z-index: -10;
}

.finalize-checkout-section .line.vertical {
	width: 0;
	height: 30px;
}

.finalize-checkout-section .line.horizontal {
	width: 50px;
	height: 0;
}

.finalize-checkout-section .line.vertical.center {
	left: 50%;
}

.finalize-checkout-section .line.vertical.left {
	left: 25%;
}

.finalize-checkout-section .line.horizontal.left {
	top: 50%;
	left: 90%;
}

/* Order By Reference Section */

.order-by-reference-section {
	margin-top: 100px;
}

.order-by-reference-section .text-danger {
	color: var(--pink-theme) !important;
}

.order-by-reference-section h1.display-2 {
	font-family: 'Rage', sans-serif; /* Mistral, Brush Script MT */
}

.order-by-reference-section .line {
	content: '';
	position: absolute;
	border: 1px solid rgba(0, 0, 0, .3);
	z-index: -10;
}

.order-by-reference-section .line.vertical {
	width: 0;
	height: 30px;
}

.order-by-reference-section .line.vertical.center {
	left: 50%;
}

/* FAQ section */

.faq-section {
	margin-top: 100px;
	padding: 0 60px 40px 0;
}

.faq-section .border-danger {
	border-color: var(--pink-theme) !important;
}

/* Video Section */

.video-section {
	margin-top: 100px;
	padding: 0 60px 40px 0;
}

.video-section .border {
	border-color: var(--pink-theme) !important;
}

.video-section-contact-info {
	list-style-type: none;
}

.video-section-contact-link {
	display: block;
}

/* Footer Section */

.footer-wrapper .row {
	padding: 50px;
}

.footer-wrapper .text-danger {
	color: var(--pink-theme) !important;
}

.footer-wrapper .icon {
	width: 50px;
	height: 50px;
}