* {
	font-family: '', sans-serif;
}

img {object-fit: contain;}

.btn {
	border-top: 1px solid rgba(0, 0, 0, .3);
	border-right: 1px solid rgba(0, 0, 0, 1);
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	border-left: 1px solid rgba(0, 0, 0, 1);
	border-radius: 10px;
	padding: 3px 40px;
	background-color: white;
}

.btn:hover {
	color: white !important;
}

.btn.btn-success {
	color: #28a745;
}

.btn.btn-danger {
	color: #dc3545;
}

.btn.btn-warning {
	color: #ffc107;
}

.btn.btn-primary {
	color: #007bff;
}

/** HEADER */

/* Top Menu */

.navbar-top.fixed-top {
	min-height: 100px;
}

/* Side Menu */

.navbar-side.fixed-top {
	width: 300px;
	height: 100%;
}

/** WRAPPER CONTENT */

.wrapper-content {
	position: static;
	padding-left: 325px;
	padding-top: 125px;
	padding-right: 50px;
}

/** Slide Section */

.carousel {
	width: 90%
}

.carousel-inner {
	width: 100%
}

.slide-images img {
	width: 100%;
}

.slide-images.active {
	display: flex;
	flex-wrap: wrap;
}

.slide-images .form-check {
	position: relative;
}

.slide-images .form-check-input + span {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: white;
	border: 2px solid #00a79d;
	border-radius: 5px;
	width: 35px;
	height: 35px;
	z-index: 2;
}

.slide-images .form-check-input:checked + span {
	background-color: #00a79d;
}

.carousel-control-prev {
	background-color: black;
	width: 50px;
	left: -50px;
}

.carousel-control-next {
	background-color: black;
	width: 50px;
	right: -50px;
}

.btn-slide-done {
	bottom: 20px;
	width: 100%;
	text-align: center
}